@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --extra-light-blue: #6aa3d859;
  --light-blue: #6AA3D8;
  --mid-blue: #235686;
  --dark-blue: #194369;
  --deep-blue: #13212E;
  --grey: #707070;
  --ligh-grey: #F3F3F3;

    /* Swiper Custom Variables */
    --swiper-navigation-size: 0.7rem !important;
    --swiper-navigation-color: var(--light-blue);
    --swiper-pagination-color: var(--mid-blue);
}

.footer_links{
  border: 1px solid;
  border-radius: 999px;
  border-color: var(--light-blue);
  color: var(--light-blue);
  padding: 0.5rem 1rem;
  position: relative;
}

.footer_links:hover{
  background-color: var(--light-blue);
  color: white;
}

header{
  min-width: 42rem ;
  background-position: center;
  background-size: contain;
  background-repeat: round;
  background-image: url("/assets/imgs/hero/header-bg.png");
}

.swiper-button-prev, .swiper-button-next{
  border: 1px solid;
  border-radius: 999px;
  border-color: var(--light-blue);
  padding: 1rem;
}