@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --extra-light-blue: #6aa3d859;
  --light-blue: #6AA3D8;
  --mid-blue: #235686;
  --dark-blue: #194369;
  --deep-blue: #13212E;
  --grey: #707070;
  --ligh-grey: #F3F3F3;
}